*.tab.h
*.tab.c
parser.hpp
parser.cpp
lexer.cpp
lexer.hpp
MiniC

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps